@model Bible_Verse_Project.Models.BibleVerse

@{
    ViewData["Title"] = "SearchResults";
}

<h1>SearchResults</h1>

<div>
    <h4>BibleVerse</h4>
    <hr />
    <h6>@Html.DisplayFor(model => model.Testament)</h6><br />
    <b>@Html.DisplayFor(model => model.Book), @Html.DisplayFor(model => model.Chapter):@Html.DisplayFor(model => model.Verse)</b><br/>
    <p>"@Html.DisplayFor(model => model.Text)"</p>
</div><br /><br />
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
